
body {
  background-image: url("../images/dave-adamson--nATH0CrkMU-unsplash.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction:row;
  line-height: 1.3;
   display: flex;
    flex-direction:row;
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
    
  }
  p{
    color: white;
  }
  a{
    color:white
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13743b;
    color:azure
    height: 60px;
    border-radius: 25px;
  }
  #about, #work, #contact{
    color: azure);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:9px;
    padding: 1%;
    height: 60px;
    }  
    
  .vl{
    border-left: 4px double green;
    height: 90px;
    position:unset;
    left: 10%;
    margin-left: -3px;
    top: 283px ;
    opacity: 0.5;
  }
  .vl2{
    border-left: 4px double green;
    height: 226px;
    position:unset;
    left: 10%;
    margin-left: -3px;
    top: 283px;
    opacity: 0.5;
  }
  .vl3{
    border-left: 4px double green;
    height: 90px;
    position: unset;
    left: 10%;
    margin-left: -3px;
    top: 283px;
    opacity: 0.5;
  }
  h1{
    text-shadow: -1px 0 10px rgb(7, 252, 60), 
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 400px; 
    list-style-type: none;    
  }
  nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:visited {
    color: rgb(187, 181, 181);
  }
  nav a:focus{
    outline: none;
  border-color: rgb(7, 64, 252);
  }
  .head img {
      height: 200px;
      width: 100%;
      border-radius: 25px;
      
  }
  .head {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: -1px 0 rgb(6, 119, 31), 0 1px rgb(6, 119, 31), 1px 0 rgb(7, 151, 79), 0 -1px rgb(12, 175, 47);
    font-size: 50px;
  }
  .bottom-right {
    position: absolute;
    bottom: 16px;
    right: 32px;
  }
   #portfolio {
    display: flex;
    justify-content: space-around;
    position:absolute;
    bottom: 12px;
    margin: 10px;
    opacity: 0.5;
    border: 5px solid rgb(11, 80, 15);
  
  }
  #code{
    display:flex;
    justify-content: space-around;
    position:absolute;
    left: 318px;
    bottom: 16px;
    margin:5px;
    opacity: 0.5;
    border: 5px solid rgb(11, 80, 15);

  }
  p {
   display:flex;
   flex-direction: column;
    width:65%;
    height:250px;
    position:relative;
    left:284px;
  }
  
  main ul li{
    padding:100px;
  }
  main ul{
    display:flex;
    list-style-type: none;
    width:967px;
    justify-content:right;
    position:relative;
    left:182px;
    bottom:67px;
  }
  @media screen and (max-width: 1140px) {
    p, a {
      width:65%;
      flex-direction:column;
    }
  main ul{
    width:35%;
    position:relative;
    left:600px;
    padding: 82px;
  }
  }
  @media screen and (max-width: 768px) {
    header, nav a, main{
      width:100%;
      flex-direction: column;
    }
    p{
      position:relative;
      left:158px;
    }
    aside a{
    position:relative;
    right: 20px;
    top:300px;
    }
    #about, #work, #contact {
      width:10%;
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 411px) {
    header, nav a, main{
      width:175%;
      flex-direction: column;
    }
    .vl, .vl2, .vl3 {
      position:relative;
      left:100px;
    }
    p{
      position:relative;
      left:158px;
      bottom:90px;
    }
    aside a {
    position:relative;
    right: 20px;
    top:100px;
    }
    main ul{
      position:relative;
      left: 600px;
      bottom:300px;
    }
    
    
  
  }
  